<main>
<div class="row">
  <div class="col-4"></div>
  <div class="col-4">


        

        <div class="form-group">
          <%= form_for :session, url: session_path do |form| %>
            <div class="text-field">
              <strong> <%= form.label :email %></strong>
              <%= form.text_field :email, type: 'email', class:"form-control" %>
            </div>

            <div class="password-field">
              <strong> <%= form.label :password %></strong>
              <%= form.password_field :password, class:"form-control" %>
            </div>
            <%= link_to t(".forgot_password"), new_password_path %>

            <div class="submit-field">
              <%= form.submit "Sign In", class:"btn-lg btn-block btn btn-secondary" %>
            </div><br>

          <% end %>

          <div class="other-links">
            <%= link_to "Sign in with Facebook", "/auth/facebook", class:"btn fb-login-button btn-lg btn-block"%>  
            <div></div>
            <% if Clearance.configuration.allow_sign_up? %>
              <%= link_to t(".sign_up"), sign_up_path %>
            <% end %>

          </div>      
        </div>
    
    


  </div>
  <div class="col-4"></div>
</div>
</main>
