<div class="row">
  <%if @listings.count != 0%>
    <%@listings.each do |listing|%>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <%= link_to listing_path(listing), class: "list-group-item list-group-item-action list-group-item-light" do%> 
            <%if listing.image.count != 0 %>
                <p><%= image_tag listing.image[0], class:"img-thumbnail" %></p>
            <%else %>
              <p><%= image_tag "gallery/default.jpg", class:"img-thumbnail"%> </p>
            <%end%>
            
              <h5>  <%=listing.title%></h5>
              <div> <%=listing.city%></div>
              <div>Updated <%=time_ago_in_words(listing.updated_at) %> ago</div>
          <%end%>
            <span> &nbsp</span>

            <div class="btn-container">
            <%if current_user.id == listing.user_id || current_user.admin?%>
              <%= link_to "Edit", edit_listing_path(listing), class:"btn btn-outline-primary btn-block"%>

              <%= link_to 'Delete', listing_path(listing), class:"btn btn-outline-danger btn-block",
                                        method: :delete, 
                                        data: { confirm: 'Are you sure?' }%> 
            <%end%>   
            <span> &nbsp</span>
          </div>                          
        </div>
    <%end%>
  <%end%>
</div>