<h1>Listings</h1>

<%= link_to "Create", new_listing_path%>

<%@listings.each do |listing|%>
	<p><%=listing.title%></p>
	<p><%=listing.description%></p>
	<%= link_to "Show", listing_path(listing)%>
	<%= link_to 'Delete', listing_path(listing), 
														method: :delete, 
                            data: { confirm: 'Are you sure?' } %> 
<%end%>