


<main>
  <div class="row">
    <div class="col-2">

    </div>
    <div class="col-8">
			<%if current_user.host?%>
        <%= link_to "Create", new_listing_path, class: "btn btn-outline-secondary"%>
      <%end%>

      <div class="dropdown float-right">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Search
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <%=form_tag 'listings', id:"date_form", method:"get" do %>
            <%=text_field_tag "search", nil, id:"search", value:params[:search], placeholder:"e.g. Tokyo"%>
            <%= select_tag 'city', options_for_select(Listing.pluck(:city).uniq, params[:city]),prompt: "All Cities"%>
            <%=text_field_tag "date", nil ,id:"date", value:params[:date]%>
            <div>
              <strong>Amenities</strong> 
              Wifi
              <%=check_box_tag "amenities[]", "Wifi", params[:amenities] && params[:amenities].include?("Wifi")%>
              Cable TV
              <%=check_box_tag "amenities[]", "Cable TV", params[:amenities] && params[:amenities].include?("Cable TV")%>
              Air Conditioning
              <%=check_box_tag "amenities[]", "Air Conditioning", params[:amenities] && params[:amenities].include?("Air Conditioning")%>
            </div>

            <%=submit_tag "Apply"%> <%=link_to "clear", "/listings"%>
          <%end%>

        </div>
      </div>


			<hr>
	    <div class="row">
      <%if @listings.count != 0%>

  			<%@listings.each do |listing|%>

  	    		<div class="col-4">
              <%if listing.image.count != 0 %>
                  <p><%= image_tag listing.image[0], class:"img-thumbnail" %></p>
              <%else %>
                <p><%= image_tag "gallery/default.jpg", class:"img-thumbnail"%> </p>
              <%end%>
  						

  						<%= link_to listing_path(listing), class: "list-group-item list-group-item-action list-group-item-light" do%> 
  							<h5>	<%=listing.title%></h5>
                <div> <%=listing.city%></div>

  						<%end%>
  						<div class="btn-container">

  							<span> &nbsp</span>
  							<%if current_user.id == listing.user_id%>
  								<%= link_to "Edit", edit_listing_path(listing), class:"btn btn-outline-primary btn-block"%>

  								<%= link_to 'Delete', listing_path(listing), class:"btn btn-outline-danger btn-block",
  																					method: :delete, 
  							                            data: { confirm: 'Are you sure?' }%> 
  						  <%end%>		
  							<span> &nbsp</span>
  						  		
  						</div>  	                      



  	    		</div>





  			<%end%>
      <%end%>


	    </div>

			<hr>

			<%= paginate @listings %>

    </div>
    <div class="col-2">
    </div>

  </div>
</main>






