<div class="listing-house-top">
  <div class="row">
    <div class="listing-search-form-box">
      <h1>Find homes on Airbnb</h1>
      <h5>Discover entire homes and private rooms perfect for any trips.</h5>
      <%=form_tag listings_search_path, id:"date_form", method:"POST", remote: true do %>
        <h7>WHERE</h7>
        <%=text_field_tag "city_search", nil, list: "list", placeholder:"e.g.Tokyo", class:"full-length"%> 
        <datalist id="list"></datalist>
        <h7>CHECK IN</h7>
        <%=text_field_tag "date", nil ,id:"date", value:params[:date], class:"full-length"%>
        <div>
          <h7>AMENITIES</h7> 
          <div>
            Wifi
            <%=check_box_tag "amenities[]", "Wifi", params[:amenities] && params[:amenities].include?("Wifi")%>
            Cable TV
            <%=check_box_tag "amenities[]", "Cable TV", params[:amenities] && params[:amenities].include?("Cable TV")%>
            Air Conditioning
            <%=check_box_tag "amenities[]", "Air Conditioning", params[:amenities] && params[:amenities].include?("Air Conditioning")%>
          </div>  
        </div>
        <%=submit_tag "Search", class:"full-length btn btn-danger"%> 
        <%=link_to "clear", "/listings"%>
      <%end%>
    </div>
  </div>
  
</div>


<main class="container">
  <div class="row">
    <div class="col-12">
      <div class="dropdown">
        
      </div>
      <%if current_user.host? || current_user.admin?%>
        <%= link_to "Create", new_listing_path, class: " btn btn-outline-secondary"%>
      <%end%>

      <hr>
      <section id="listings">
        <%= render partial: "listing", locals: {listings: @listings} %>
      </section>
			<hr>
      <div id="paginate">      
        <%= paginate @listings %>
      </div>
    </div>

  </div>
</main>






