


<main>
  <div class="row">
    <div class="col-3">

    </div>
    <div class="col-6">
			<%= link_to "Create", new_listing_path, class: "btn btn-outline-secondary"%>

      <%=form_tag '/listings', id:"city_form", method:"get" do %>
        <%= select_tag 'cities', options_for_select(Listing.pluck(:city).uniq, @city),prompt: "All Cities"%>
      <%end%>

			<hr>
	    <div class="row">

			<%@listings.each do |listing|%>

	    		<div class="col-5">
						<p><%= image_tag listing.image, class:"img-thumbnail" %></p>

						<%= link_to listing_path(listing), class: "list-group-item list-group-item-action list-group-item-light" do%> 
							<h5>	<%=listing.title%></h5>
              <div> <%=listing.city%></div>
							<div><%=User.find(listing.user_id).first_name%></div>

						<%end%>
						<div class="btn-container">

							<span> &nbsp</span>
							<%if current_user.id == listing.user_id%>
								<%= link_to "Edit", edit_listing_path(listing), class:"btn btn-outline-primary btn-block"%>

								<%= link_to 'Delete', listing_path(listing), class:"btn btn-outline-danger btn-block",
																					method: :delete, 
							                            data: { confirm: 'Are you sure?' }%> 
						  <%end%>		
							<span> &nbsp</span>
						  		
						</div>  	                      



	    		</div>





			<%end%>
	    </div>

			<hr>

			<%= paginate @listings %>

    </div>
    <div class="col-3">
    </div>

  </div>
</main>






