


<main>
  <div class="row">
    <div class="col-3">

    </div>
    <div class="col-6">
			<%= link_to "Create", new_listing_path, class: "btn btn-outline-secondary"%>
			<hr>
			<%@listings.each do |listing|%>

	    	<div class="row">
	    		<div class="col-10">

							<%= link_to listing_path(listing), class: "list-group-item list-group-item-action list-group-item-light" do%> 
								<h2>	<%=listing.title%></h2>
								<div><%=User.find(listing.user_id).first_name%></div>

							<%end%>
	                      



	    		</div>

					<div class="col-2">
							<div class="btn-container">

								<span> &nbsp</span>
									<%if current_user.id == listing.user_id%>
									<%= link_to "Edit", edit_listing_path(listing), class:"btn btn-outline-primary btn-sm btn-block"%>

									<%= link_to 'Delete', listing_path(listing), class:"btn btn-outline-danger btn-sm btn-block",
																						method: :delete, 
								                            data: { confirm: 'Are you sure?' }%> 
							  <%end%>				
							</div>      


	    		</div>






	    	</div>
			<%end%>

			<hr>

			<%= paginate @listings %>

    </div>
    <div class="col-3">
    </div>

  </div>
</main>




