<main>
	<div class="row ">
		<div class="col-4"></div>
		<div class="col-4 text_c">

			<%=form_for @listing do |f|%>
			<div class="form-group">
			  <div><strong>	<%= f.label :title %></strong></div>
			  <div>	<%= f.text_field :title, class:"form-control" %></div>

			  <div><strong>	<%= f.label :description %></strong></div>
			  <div> <%= f.text_area :description, class:"form-control", rows:"5" %></div>
			  <br>
			  <%= f.submit :Create, class:"btn btn-outline-primary float-right" %>
			</div>

			<%end%>



		</div>
		<div class="col-4"></div>


	</div>

</main>


