

<main>


	<div class="container">
		<div class="row bot-padding">
			<div class="col-2"></div>
			<div class="col-8">
				<%= render partial: '/listings/carousel' %>			  			 
			</div>
			<div class="col-2"></div>
		</div>


	  <div class="row">
	    <div class="col-2">
	    </div>
	    <div class="col-6">



	    	<h1> <%=@listing.title%></h1>
				<p> <%=@listing.description%></p>
				<p><strong>Amenities</strong></p>
				<ul>
					<% @listing.amenities.each do |amenity| %>
						<li><%=amenity%></li>
					<% end %>
				</ul>

			<%=form_for @listing, url:"/listings/#{params[:id]}/uploadimage", html:{id:"image_form"}, method:"post"  do |f|%>
					<%= f.file_field :image, multiple:true, name:"images",id:"ajax_images" %>
				  <%= f.submit "Add Picture", id:"image_submit", data:{disable_with: false} %>			  
			<%end%>

	    </div>
	    <div class="col-4">
	    	<h3>My Google Maps Demo</h3>
		    <div id="map"></div>

	    </div>
	  </div>
	</div>
</main>




<nav id="show_bot_nav" class="navbar fixed-bottom navbar-light bg-light">
	<footer class="container">
	  <ul class="navbar-nav mr-auto">
	    <li class="nav-item">
	    	<strong><%="$ #{@listing.price}/Night"%></strong>
	    </li>
	  </ul>
	  <ul class="navbar-nav float-right">
	    <li class="nav-item">
	    	<a href="/listings/<%=@listing.id%>/reservations/new" class="btn btn-outline-danger brn-large btn-block" id="wide-btn">Book</a>


	    </li>
	  </ul>	
	</footer>
</nav>




<script type="text/javascript">
	function initMap() {
		var geocoder = new google.maps.Geocoder();
	  geocoder.geocode({"address":"<%=@listing.city%>"}, function(result, status){
	  	var map = new google.maps.Map(document.getElementById('map'), {
	  		zoom: 4, 
	  		center: result[0].geometry.location
	  	})
	  	var marker = new google.maps.Marker({
	  		position: result[0].geometry.location,
	  		map: map
	  	});
	  })
	}
</script>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_MAP_API_KEY']%>&callback=initMap">
</script>