<main>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">

      <h1>Trips</h1>
      <hr>
      <div class="row">

        <% @reservations.each do |reservation| %>
          <%listing = reservation.listing%>
          <div class="col-4">


            <%= link_to listing_reservation_path(reservation.listing, reservation) do %>
              <div class="list-group-item list-group-item-action list-group-item-light">
                <%if listing.image.count != 0 %>
                    <p><%= image_tag listing.image[0], class:"img-thumbnail" %></p>
                <%else %>
                  <p><%= image_tag "gallery/default.jpg", class:"img-thumbnail"%> </p>
                <%end%>
                
                <h5>  <%=listing.title%></h5>
                <p> <%="#{reservation.start_date} - #{reservation.end_date}"%></p>
              </div>
            <%end%>


          </div>
        <% end %>

        
      </div>    

    </div>
    <div class="col-2"></div>

  </div>



</main>

