<main>
  <div class="container">
    <div class="row">
      <div class="col-3"></div>
      <div class="col-6" style="text-align:center;">
        <h4> <strong><%= @reservation.listing.title%></strong> </h4>
        <p> Trip Duration: <%= @reservation.start_date%> - <%=@reservation.end_date%></p>
        <p> Total: $<%=@reservation.price%></p>
        <p> Payment Status: 
          
            <%if @reservation.payment_status%>
              <span class="complete">Complete</span>
            <%else%>
              <span class="incomplete">Incomplete</span>
            <%end%>
          
        </p>

        <%= image_tag @reservation.listing.image, class:"img-thumbnail" %>
      </div>
      <div class="col-3></div>
    </div>

  </div>


</main>